/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 960px) {


@font-face{
  font-family: flashlight;
  src: url(../assets/flashlight.ttf);
}

@font-face{
  font-family: cows;
  src: url(../assets/cows.ttf);
}

@font-face{
  font-family: caviar;
  src: url(../assets/caviar.ttf);
}

@font-face{
  font-family: caviarB;
  src: url(../assets/caviarB.ttf);
}

@font-face{
  font-family: caviarI;
  src: url(../assets/caviarI.ttf);
}

@font-face{
  font-family: caviarBI;
  src: url(../assets/caviarBI.ttf);

}

body {
  background-color: white;
}

    img{
    width: 100%;
    height: auto;
  }

.menu {
  background-color: #ffc0cb;
  height: 60px;
   width: auto;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: caviar;
}


.header{
    background-color: #fff;
    height: 200px;
}

.viewmore {

  display: flex;
  font-family: caviarB;
  justify-content: center;
  padding: 20px;
}

#viewbutton{
  border: 1px solid white;
  background-color: #F09A9D; /* RED */
  padding: 10px;
  text-decoration: none;
}

.testimonial{
  background-color: #ffc0cb;
  padding: 30px;
  font-size: 40pt;
  font-family: caviar;
  text-align: center;
}

.facebooklink{
  background-color: #ffc0cb;
  padding: 20px;
  font-size: 30pt;
  font-family: caviar;
  text-align: center;
}

#facebooklogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#weddingwishes{
  background-color: #ffc0cb;
  padding: 30px;
  font-size: 14pt;
  font-family: caviar;
  text-align: center; 
}

.talktous{
  display: flex;
  flex-direction: column; 
  background-color: #ffc0cb;
  font-family: CaviarBI;
  font-size: 60pt;
  text-align: center;
}

#planmessage{
  align-self: center;
  font-family: caviar;
  font-size: 14pt;
  text-align: center;
}

.contactform{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: auto;
  height: auto;
  align-items: center; 
  font-family: caviar;
}

.formitem{
  padding: 15px; 
}

legend{
  text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
}